/2013-OOProgrammingWithJava-PART2/week8-week8_12.OnlineShop/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_09.CarRegistrationCentre/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_10.NationalService/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_11.BoxesAndThings/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_13.RichFirstPoorLast/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_15.SortedCards/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_14.StudentsSortedByName/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_16.SkiJumping/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_09.CarRegistrationCentre/build/
/2013-OOProgrammingWithJava-PART2/week8-week8_10.NationalService/build/
/2013-OOProgrammingWithJava-PART2/week8-week8_11.BoxesAndThings/build/
/2013-OOProgrammingWithJava-PART2/week8-week8_12.OnlineShop/build/
/2013-OOProgrammingWithJava-PART2/week8-week8_13.RichFirstPoorLast/build/
/2013-OOProgrammingWithJava-PART2/week8-week8_14.StudentsSortedByName/build/
/2013-OOProgrammingWithJava-PART2/week8-week8_15.SortedCards/build/
/2013-OOProgrammingWithJava-PART2/week8-week8_16.SkiJumping/build/
/2013-OOProgrammingWithJava-PART2/week9-week9_17.FirstPackages/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week9-week9_20.SensorsAndTemperatureMeasurement/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week9-week9_21.Printer/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week9-week9_18.Moving/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week9-week9_22.FileAnalysis/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week9-week9_19.MethodArgumentValidation/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week9-week9_23.WordInspection/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week9-week9_24.MultipleEntryDictionary/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week9-week9_25.DuplicateRemover/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week9-week9_26.PhoneSearch/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week9-week9_17.FirstPackages/build/
/2013-OOProgrammingWithJava-PART2/week9-week9_18.Moving/build/
/2013-OOProgrammingWithJava-PART2/week9-week9_19.MethodArgumentValidation/build/
/2013-OOProgrammingWithJava-PART2/week9-week9_20.SensorsAndTemperatureMeasurement/build/
/2013-OOProgrammingWithJava-PART2/week9-week9_21.Printer/build/
/2013-OOProgrammingWithJava-PART2/week9-week9_22.FileAnalysis/build/
/2013-OOProgrammingWithJava-PART2/week9-week9_23.WordInspection/build/
/2013-OOProgrammingWithJava-PART2/week9-week9_24.MultipleEntryDictionary/build/
/2013-OOProgrammingWithJava-PART2/week9-week9_25.DuplicateRemover/build/
/2013-OOProgrammingWithJava-PART2/week9-week9_26.PhoneSearch/build/
/2013-OOProgrammingWithJava-PART2/week10-week10_28.Groups/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week10-week10_27.TheFinnishRingingCentre/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week10-week10_30.Container/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week10-week10_31.FarmSimulator/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week10-week10_33.Dungeon/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week10-week10_29.PersonAndTheirHeirs/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week10-week10_32.DifferentBoxes/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week10-week10_27.TheFinnishRingingCentre/build/
/2013-OOProgrammingWithJava-PART2/week10-week10_28.Groups/build/
/2013-OOProgrammingWithJava-PART2/week10-week10_29.PersonAndTheirHeirs/build/
/2013-OOProgrammingWithJava-PART2/week10-week10_29.PersonAndTheirHeirs/dist/
/2013-OOProgrammingWithJava-PART2/week10-week10_30.Container/build/
/2013-OOProgrammingWithJava-PART2/week10-week10_31.FarmSimulator/build/
/2013-OOProgrammingWithJava-PART2/week10-week10_32.DifferentBoxes/build/
/2013-OOProgrammingWithJava-PART2/week10-week10_33.Dungeon/build/
/2013-OOProgrammingWithJava-PART2/week11-week11_38.NoticeBoard/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week11-week11_36.Greeter/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week11-week11_35.TwoDirectionDictionary/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week11-week11_37.Survey/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week11-week11_34.FileManager/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week11-week11_40.Calculator/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week11-week11_39.ClickEffect/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week11-week11_41.DrawingBoard/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week11-week11_43.GameOfLife/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week11-week11_42.MovingFigure/nbproject/private/